.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.root svg {
    width: 189px;
    height:35px
}

@media (max-width: 800px) {
    .root svg {
        width: 90px;
        height: 16.67px;
    }
}